<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <!-- generator:beans -->
    <bean id="paginateListFactory" class="com.framework.util.pagination.factory.PaginateListFactory" />
    
    <!-- generator:imports -->
    <import resource="classpath:/com/application/controller/config/UsuarioBeanFactory.xml"/>
</beans>